div.stage {
  height: auto !important;
}
div.stage-task {
  min-height: auto;
}

div.task-progress {
  min-height: auto;
}

.task-details {
  display: none;
}

.stage_Functional_Tests {
  width: 600px;
}

.stage_Functional_Tests .stage-task {
  display: inline-block;
  width: 18%;
}

section.pipeline-component h1 {
  color: #fff;
}

section.pipeline-component h2 {
  color: #fff;
}

div.pipeline-cell {
  padding-bottom: 0;
}

.pipeline-cell svg {
  display: none;
}
